# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.DS_Store
server/obsolete/
server/redis/
server/match/match
server/booker/booker
server/ssdb/auth/var/
server/ssdb/match/var/
server/ssdb/auth/log.txt
server/ssdb/match/log.txt
Sld/Sld.xcodeproj/xcuserdata/liwei.xcuserdatad/xcdebugger/
archive/
robot/robot
tools/packUploader/packUploader
tools/packUploader/packs