# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

client/proj.android/assets/
client/proj.android/bin/
client/proj.android/gen/
client/proj.android/obj/