#thumbRoot {
	margin:8px;
	font-size:0;
}

.thumb {
	display: inline-block;
	width:31%;
	padding: 0px;
	margin: 3px;
	border-radius: 2px;
	box-shadow: 2px 2px 4px #ccc;
	max-width: 200px;
}

.avatarRow {
	margin:6px 10px;
}

.avatar40 {
	float: left;
	padding: 0px;
	margin-right: 6px;
	border: 1px solid #fff;
	border-radius: 5px;
	width:40px;
	height:40px;
}

.userNameLabel {
	display: block;
	padding-top: 6px;
	font-size: 18px;
	overflow:hidden;
	min-height: 40px;
}

.userLine {
 	margin:5px 0;
}