body {
	position: relative;
	padding-top: 50px;
	background-color: #f2f2f0;
	max-width: 600px;
	margin: auto;
}

a {
	cursor:pointer;
}

a:hover{
	text-decoration: none;
}

.thumbRoot {
	/*margin:8px;*/
	/*padding:30px;*/
	font-size:0;
}

/*.thumb {
	display: inline-block;
	width:31%;
	padding: 0px;
	margin: 3px;
	border-radius: 2px;
	box-shadow: 2px 2px 4px #ccc;
	max-width: 200px;
	cursor:pointer;
}*/
.thumb {
	display: inline-block;
	width:33%;
	padding: 1px;
	margin: 0px;
	border-radius: 0px;
	border-color: transparent;
	/*box-shadow: 2px 2px 4px #ccc;*/
	cursor:pointer;
}

.thumb>img, .thumb>a>img {
	width:100%;
	box-shadow: 2px 2px 4px #ccc;
	border-radius: 2px;
	/*border: 1px solid #ddd;*/
	max-width: 200px;
}

.packThumb {
	background-image: url(../res/packBG.png);
	background-size:100% 100%;
	/*padding: 0.5% 1% 1% 0.5%;*/
	padding: 1% 2% 2% 1%;
	border-width: 0px;
	box-shadow: 2px 2px 4px #ddd;
	cursor:pointer;
}

.userRow {
	margin:6px 10px;
}

.userNameLabel {
	display: block;
	padding-top: 6px;
	font-size: 18px;
	overflow:hidden;
	min-height: 40px;
	cursor:pointer;
}

.userLine {
 	margin:5px 0;
}

.hudBgFrame {
	position:fixed;
	top:0px;
	width:100%;
	height:100%;
	display: none;
	max-width: 600px;
}
.hudCover {
	position:absolute;
	width:100%;
	height:100%;
	background-color:#333;
	opacity:0.4;
}
.hudBg {
	position: absolute;
	top:50%;
	left:50%;
	width:100px;
	height:100px;
	margin-top: -50px;
	margin-left: -50px;
	background-color:#333;
	opacity:0.8;
	border-radius: 5px;
}

.card {
	margin: 0px 6px 16px;
	padding: 4px 0px 4px;
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 5px;
	box-shadow: 2px 2px 4px #ccc;
}

.avatar {
	padding: 0px;
	margin: 5px 10px 3px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 1px 1px 2px #999;
	width:56px;
	height:56px;
	cursor:pointer;
}

.avatar40 {
	float: left;
	padding: 0px;
	margin-right: 10px;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: 1px 1px 2px #999;
	width:40px;
	height:40px;
	cursor:pointer;
}

.avatarSm {
	padding: 0px;
	margin: 2px 10px 2px 10px;
	border: 1px solid #eee;
	border-radius: 3px;
	width:34px;
	height:34px;
	box-shadow: 1px 1px 2px #999;
}

@-moz-keyframes loading-text-opacity {
    0%  {opacity: 1}
    50% {opacity: 0}
    100%{opacity: 1}
}
 
 
@-o-keyframes loading-text-opacity {
    0%  {opacity: 1}
    50% {opacity: 0}
    100%{opacity: 1}
}
 
@-webkit-keyframes loading-text-opacity {
    0%  {opacity: 1}
    50% {opacity: 0}
    100%{opacity: 1}
}
 
@keyframes loading-text-opacity {
    0%  {opacity: 1}
    50% {opacity: 0}
    100%{opacity: 1}
}
 
 
#loading-text {
    -moz-animation: loading-text-opacity 2s ease-in-out 0s infinite normal;
    -o-animation: loading-text-opacity 2s ease-in-out 0s infinite normal;
    -webkit-animation: loading-text-opacity 2s ease-in-out 0s infinite normal;
    animation: loading-text-opacity 2s ease-in-out 0s infinite normal;
    color: #ffffff;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
   	top:50%;
    width: 100%;
    line-height: 40px;
    height:40px;
    margin-top: -20px;
}